DesertionWarnings.Enabled = 1
DesertionWarnings.WarningText = "WARNING: You were invited to join a battleground but failed to do so. Your team is suffering from a disadvantage because of this. Here is your reminder that you MUST join any battleground that you are invited to. If you do not wish to join a battleground you must remove yourself from the queue BEFORE the battleground begins. This helps keep the ChromieCraft battlegrounds more balanced and fair. This action has been recorded. Repeated manipulation or abuse is subject to be sanctioned."
